body{
    background-image:url("back.jpg");
    background-size: 100%;
    display: flex;
    margin: 150px;
    padding: 10px;
}

table, th {
    border: solid black;
  }

  td {
    border: solid black;
    padding: 10px;
  }

.left{
    background-color:skyblue;
    
    padding: 10px;
    align-items: center;
}

p{
    margin: 4px;
}

form.right{
    padding: 5px;
    background-color:skyblue;
    
    align-items: center;
}